<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/defaultTheme.css" media="screen" />
		<link rel="stylesheet" href="/static/css/myTheme.css" media="screen" />
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.fixedheadertable.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
		$('#myTable01').fixedHeaderTable({ footer: true, cloneHeadToFoot: true, altClass: 'odd', autoShow: true,fixedColumns: 1 });
		$('#myTable01').fixedHeaderTable('show', 1000);
		});
		</script>
		<style type="text/css">
		body { font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #4f6b72; background: #d8e9e8; }
			table td, table th{
				word-wrap: break-word;
				word-break: normal;
				word-break:break-all;
			}
			.yellow {background-color: #ffff00}
		</style>
	</head>
	<body>
		<div class="container_12">
			<div class="grid_4">
				<form name="main" method="post">
					{{ form.render() }}
					<input type="submit" />
				</form>
				<p class=".yellow"><b>[{{ result.cost_time }}s] </b></p>
				<p><code>{{ result.cmd }}</code></p>
			</div>
			<div class="grid_8 height400">
				<table class="fancyTable" id="myTable01" cellpadding="0" cellspacing="0">
					<thead><tr>
						{% for header in result.titles %}
							<th>{{header}}</th>
						{% endfor %}
					</tr></thead>
					<tbody>
						{% for record in result.raws %}
							<tr>
								{% for cell in record %}
									<td class="blue">{{ cell }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
						<tbody>
						</table>
						{% if result.err %}
							<pre>
								==Error Info ==
								{{ result.err }}
							</pre>
						{% endif %}
					</div>
					<div class="clear"></div>
				</div>
			</body>
		</html>