# https://docs.fabfile.org/en/2.5/concepts/configuration.html#ssh-config
Host *
     ConnectTimeout 10
     ForwardAgent no
     ForwardX11 no
     ForwardX11Trusted yes
     User tx-deepocean
     Port 22
     Protocol 2
     connect_kwargs tx-deepocean tuixiang2017