alembic==1.4.3       # Migration tool for SQLAlchemy
SQLAlchemy==1.3.22   # ORM Framework
# RunSnakeRun==2.0.5   # GUI Viewer for Python profiling runs
treelib              # display as tree structure, use in app